.sing{
    display: flex;
    width: 200px;
    align-self: flex-end;
    position: absolute;
    z-index: 10;
    border-bottom-left-radius: 30px;
    margin-left: -70px;
}
.singin-button{
    padding: 10px 30px;
    font-size: 16px;
    margin: 15px 20px;
}