.dig-card-container{
    display: flex;
    justify-content:center;
    /* max-width: 820px; */
    align-items: center;
    margin: 0px auto 70px ;

}
.img-container-right{
    width: 300px;
    height: 500px;
    margin: 50px  0px 0px 100px;
}
.big-card-title{
    max-width: 500px;
    margin-bottom: 50px;
    font-size: 28px;
}
.big-card-subtitle{
    max-width: 500px;
    margin-bottom: 50px;
}
.big-card-buttom-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.light-fav{
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #AEBD38;
    color: white;
}
.dark-fav{
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #AEBD38;
    color: black;
}
.light-fav:active{
    background-color: #505160;
}
.dark-fav:active{
    background-color: #505160;
}
.light-fav:hover{
    background-color: #ADAEBF;
}
.dark-fav:hover{
    background-color: #ADAEBF;
}
