.light-background{
    background-color: white;
}
.light-text{
    color: black;
}
.dark-background{
    background-color: rgb(32, 32, 32);
}
.dark-text{
    color: rgb(220, 220, 220);
}
.light-icon{
    padding: 30px;
    font-size: 20px;
    align-items: center;
    transition: 0.5s;
}
.dark-icon{
    color: rgb(220, 220, 220) ;
    padding: 30px;
    font-size: 20px;
    align-items: center;
    transition: 0.5s;
}
.dark-icon:hover{
    color: #AEBD38;
}
.light-icon:hover{
    color: #AEBD38;
}
.light-button{
    color: #E6E6E6;
    background-color: #505160;
    border:  none;
    border-radius: 30px;
    padding: 4px 30px;
    font-size: 18px;
}
.dark-button{
    color: #262626;
    background-color: #ADAEBF;
    border:  none;
    border-radius: 30px;
    padding: 4px 30px;
    font-size: 18px;
}